@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Karla:wght@300;400;500;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --karla: Karla, sans-serif;
  --inter: Inter, sans-serif;
}

body {
  font-family: var(--karla);
  overflow-x: hidden;
}

.top-page,
.quiz-page {
  background-color: #F5F7FB;
  color: rgba(41, 50, 100, 1);
  width: 100wh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* gap: 1rem; */
}

.top-page h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.top-page p {
  font-size: 1.7rem;
  margin: .5rem auto;
  text-align: center;
}

.top-page button {
  padding: 1.1rem 4rem;
  background-color: #4D5B9E;
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
  margin-top: 1.7rem;
  cursor: pointer;
}

.top-page button:hover {
  background-color: rgba(77, 91, 158, .7);
}

.top-page::after,
.quiz-page::after {
  content: '';
  width: 400px;
  height: 400px;
  background-color: #FFFAD1;
  position: absolute;
  transform: rotate(45deg);
  top: -30%;
  right: -15%;
  border-radius: 40%;
}

.top-page::before,
.quiz-page::before {
  content: '';
  width: 400px;
  height: 400px;
  background-color: #DEEBF8;
  position: absolute;
  transform: rotate(45deg);
  bottom: -30%;
  left: -15%;
  border-radius: 40%;
}


/* -----QUIZ PAGE------- */
.quiz-page {
  /* justify-content: space-around; */
  gap: 0;
  margin-bottom: .8rem;
}

.quiz-card {
  border-bottom: 1px solid rgba(219, 222, 240, 1);
  padding: 1.3rem;
  width: 600px;
  z-index: 1;
}

.quiz-card .options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.quiz-card h3 {
  font-weight: 700;
  font-size: 1.3rem;
}

.quiz-card .options p {
  padding: .5rem 1rem;
  background-color: inherit;
  color: #4D5B9E;
  font-size: .8rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #4D5B9E;
  margin-top: .5rem;
  font-family: var(--inter);
  min-width: 80px;
  text-align: center;
}

.quiz-page button {
  padding: 1rem 2rem;
    background-color: #4D5B9E;
    color: white;
    font-size: 1rem;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.quiz-page button:hover {
  background-color: rgba(77, 91, 158, .7);
}

.quiz-page .answer-picked {
  background-color: #D6DBF5 !important;
}




button {
  font-family: var(--inter);
  outline: none;
  border: none;
}


@media (max-width:900px) {
  .top-page::after,
  .quiz-page::after {
      width: 300px;
      height: 300px;
      transform: rotate(45deg);
      top: -20%;
      right: -20%;
      border-radius: 35%;
    }

  .top-page::before,
    .quiz-page::before {
      width: 300px;
      height: 300px;
      transform: rotate(45deg);
      bottom: -20%;
      left: -20%;
      border-radius: 35%;
    }

    .quiz-card {
      width: 95%;
      margin-inline: 20px;
    }
}

@media (max-width:600px) {
  .top-page::after,
  .quiz-page::after {
      width: 250px;
      height: 250px;
      transform: rotate(45deg);
      top: -25%;
      right: -40%;
      border-radius: 35%;
    }

  .top-page::before,
    .quiz-page::before {
      width: 250px;
      height: 250px;
      transform: rotate(45deg);
      bottom: -25%;
      left: -40%;
      border-radius: 35%;
    }
}